/* HeaderIndexPage ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## # ## */

.headerIndexPage {
  width: 100%;
  height: 150px;
  background: #4a665e;
  z-index: 10;
  text-align: center;
  position: fixed;
  top: 0;
}
.headerIndexPage__left-wrap {
  float: left;
  width: 458px;
  height: 110px;
}
.headerIndexPage__right-wrap {
  float: right;
  width: 458px;
  height: 150px;
  background: #539657;
  text-align: center;
}
.headerIndexPage__social-registration-buttons {
  padding-top: 65px;
}
.headerIndexPage__social-registration-buttons a {
  text-decoration: none;
  color: #f8fbd8;
  font-size: 13px;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.headerIndexPage__social-registration-buttons a:hover {
  color: #fff;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.headerIndexPage__logo {
  padding-top: 40px;
}
.headerIndexPage__logo a {
  cursor: pointer;
  text-decoration: none;
  color: #f8fbd8;
  font-size: 30px;
  text-shadow: 1px 1px 2px rgba(34, 34, 34, 0.5);
}
.headerIndexPage__feature {
  padding-top: 10px;
}
.headerIndexPage__feature p {
  color: #f8fbd8;
  font-size: 15px;
  text-shadow: 1px 1px 2px rgba(34, 34, 34, 0.5);
}
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## # ## HeaderIndexPage */

/* Promo Background Index Page ## ## ## # ## ## ## ## ## ## ## ## ## ## ## ## ## */

.promoBackgroundIndexPage {
  background: url('../img/promoBackgroundIndexPage.jpg') no-repeat center;
  background-size: cover;
  position: relative;
  height: 800px;
  text-align: center;
}





/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */

.sidebarAnalytics__title {
}

.sidebarAnalytics ul {
  list-style: none;
  margin-top: 10px;
}
.sidebarAnalytics ul li p {
  font-size: 12px;
  font-weight: 100;
  padding: 2px 0;
}
.sidebarAnalytics ul span {
  float: right;
  font-weight: 100;
}

/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */

.filterOptions {
  position: relative;
}

.filterOptions:after {
  background: url("../img/options.png");
  width: 32px;
  height: 32px;
  content: '';
  position: absolute;
  cursor: pointer;
  top: 15px;
  right: -48px;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.filterOptions:hover:after {
  transform: rotate(80deg);
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}




