
link(rel="stylesheet", href="../source/components/topic/topic.css")

header.header
    .header__title
        p Создание Новой Темы

section.topic
    .wrapper
        input(type="text" value= name placeholder="Название Темы").topic__name
        // ## ## ## ## ## ## ## ## ## ## ## ## CARDS WILL RENDER HERE ## ## ## ## ## ## ## ## ## ## ## ## ## ##
        ol.topic__cards.toggle.col-9
        // sidebar will render here
        .sidebar.col-3.cf

        button.addCard(data-action="addcard") add card



