
link(rel="stylesheet", href="../source/components/topic/topic.css")

header.header
    .header__title
        p Создание Новой Темы

section.topic
    .wrapper
        input(type="text" value= name placeholder="Название Темы").topic__name
        // ## ## ## ## ## ## ## ## ## ## ## ## CARDS WILL RENDER HERE ## ## ## ## ## ## ## ## ## ## ## ## ## ##
        ol.topic__cards.toggle.col-9
        // sidebar will render here
        .sidebarAnalytics.col-3.cf
            .sidebarAnalytics__title
                p Topic Info
            ul
                li
                    p Сложность 1
                        span 5
                li
                    p Сложность 2
                        span 3
                li
                    p Сложность 3
                        span 7
        button.addCard(data-action="addcard") add card



