link(rel="stylesheet", href="../source/components/card/card.css")


form(action="").card
    .card__header
        span.card__header_number 1
        input(type="text" value= question placeholder="Введите вопрос").card__header_question
        button(data-action="showVersions").card__header_edit Edit
            span.card__edit_indicator +
    fieldset.card__answers.hidden
        each response, versionId in responses
            fieldset.card__response.col-12.cf
                label Правильный
                    input(type="checkbox" checked= response.isRight data-action="toggleRightVersion" data-id= index data-versionId= versionId).correct
                input(type="text" data-id= versionId value= response.text placeholder="Введите вариант ответа").inputMain
                .buttonDelete(data-action= 'delete')


        input(type="button" value="Добавить ответ" data-action="addVersion").card__answers_add
        fieldset.card__difficulty

            label.card__difficulty_label Сложность 1
                input(name="radio-01" type="radio").card__difficulty_radio
            label.card__difficulty_label Сложность 2
                input(name="radio-01" type="radio").card__difficulty_radio
            label.card__difficulty_label Сложность 3
                input(name="radio-01" type="radio").card__difficulty_radio

    .col-1.cf
        .filterOptions



