link(rel="stylesheet", href="../source/components/card/card.css")

li(data-id= index)
    .containerNewTopicQuestionAnswer__title
        span.containerNewTopicQuestionAnswer__number 1
        article.containerNewTopicQuestionAnswer__textpart
            form(action="").containerNewTopicQuestionAnswer__textpartForm
                input(type="text" value= question placeholder="Введите вопрос")
        .containerNewTopicQuestionAnswer__toggleEditButton
            p(data-action="showVersions") Edit
            .containerNewTopicQuestionAnswer__dropPlus +
    article.containerNewTopicQuestionAnswer__toggleEditPart.cf.hidden
        .containerNewTopicQuestionAnswer__input-container.col-12.cf
            .containerNewTopicQuestionAnswer__input-containerForm
                each response, versionId in responses
                    .containerNewTopicQuestionAnswer__addNewInput.col-12.cf
                        form(action="" data-id= index data-versionId= versionId).singleQuestionForm
                            .checkCorrectAnswer
                                p Правильный
                                input(type="checkbox" checked= response.isRight data-action="toggleRightVersion" data-id= index data-versionId= versionId).correct
                            input(type="text" data-id= versionId value= response.text placeholder="Введите вариант ответа").inputMain
                            .buttonDelete(data-action= 'delete')



                .col-12.cf
                    input(type="button" value="Добавить ответ" data-action="addVersion").containerNewTopicQuestionAnswer__addAnswer
                .col-12.cf
                    .col-10.cf
                        section
                            form(autocomplete="off").ac-custom.ac-radio.ac-circle.difficulty
                                ul
                                    li
                                        input(name="radio-01" type="radio")#r11
                                        label(for="r11") Сложность 1
                                    li
                                        input(name="radio-01" type="radio")#r12
                                        label(for="r12") Сложность 2
                                    li
                                        input(name="radio-01" type="radio")#r13
                                        label(for="r13") Сложность 3

                    .col-1.cf
                        .filterOptions



