.card p {
  font-size: 13px;
  padding: 2px 20px 0 5px;
  float: right;
  margin: 0;
  font-family: Arial, sans-serif;
}

.card__header_number {
  float: left;
  font-size: 11px;
  font-weight: 100;
  width: 30px;
  text-align: center;
  line-height: 25px;
}
.card__header_question {
  width: 700px;
  font-size: 13px;
  color: #333;
  padding: 5px 15px;
  border: none;
  background: #c1e3d6;
  outline: none;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.card__header_question:focus {
  background: #fff;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.card__header_question input {
  background: #dcebf1;
  outline: none;
  color: #777;
  border: none;
  width: 100%;
  font-size: 18px;
  padding: 5px 10px;
  font-size: 13px;
  font-weight: 100;
  border: 1px solid transparent;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  border-radius: 3px!important;
}
.card__header_question input:focus {
  font-weight: 100;
  color: #5f5e5e;
  background: #fff url('../card/img/backgroundLine.png');
  /*border: 1px solid #c7c7c7;*/
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.card__header_edit {
  position: absolute;
  font-size: 10px;
  right: 10px;
  top: 7.5px;
  cursor: pointer;
  background: #4a665e;
  padding: 4px 10px;
  border: none;
  color: #eee;
  border-radius: 2px;
  outline: none;
}
.card__header_edit:hover {
  background: #556f65;
  color: #fff;
}
.card__edit_indicator {
  float: right;
}
.card__answers_add {
  padding: 10px;
  width: auto!important;
  margin: 0!important;
  font-family: Arial, sans-serif;
  font-size: 18px;
  border: 1px solid #c7c7c7;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 2px;
  margin-bottom: 10px;
  background: #4a665e!important;
  color: #eee!important;
  font-weight: 100;
  outline: none;
  float: right;
}
.card__answers_add:hover {
  background: #4a665e url('../card/img/backgroundLine.png')!important;
  color: #fff!important;
}
.creatingNewTopicsPageSectionSaveButton {
  display: inline-block;
  padding: 10px 30px;
  background: #4a665e;
  font-size: 20px;
  font-weight: 500;
  color: #fff!important;
  border: 1px solid #2e403b;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  opacity: 0.8;
  margin-bottom: 10px;
  cursor: pointer;
  text-decoration: none;
  float: right;
  margin-top: 10px;
}
.creatingNewTopicsPageSectionSaveButton:hover {
  background: #4a665e url('../card/img/backgroundLine.png');
}


.hidden {
  display: none;
}
.difficulty  ul {
  list-style: none;
}

.difficulty ul li {
  display: inline;
  vertical-align: middle;
  padding-left: 10px;
  padding-right: 10px;
  padding: 10px!important;
  font-size: 13px;
  font-weight: 100;
  font-family: Arial, sans-serif;
}

.difficulty ul li label {
  cursor: pointer;
  font-family: Arial, sans-serif;
}

.difficulty ul li input {
  margin-right: 10px;
  font-family: Arial, sans-serif;
}

.correct {
  cursor: pointer;
}

/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */

.buttonDelete {
  position: relative;
}
.buttonDelete:after {
  position: absolute;
  content: '';
  width: 20px;
  height: 20px;
  background: url('img/close.png');
  top: -33px;
  right: -25px;
  cursor: pointer;
  opacity: 0.5;
}

.buttonDelete:hover:after {
  opacity: 1;
}

/* Cards ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */

form {
  list-style: none;
  font-size: 16px;
  position: relative;
  padding: 5px;
  border-radius: 2px;
  background: #c1e3d6;
  color: #777;
  margin-bottom: 5px;
}
form:before,
form:after {
  content: "";
  display: table;
}
form:after {
  clear: both;
}
.card__answers {
  padding: 0 60px;
  margin-top: 10px;
}
.card__answers.open {
  display: block!important;
}
.toggle.open .card__answers {
  display: block;
}
.card__answers input {
  width: 95%;
  margin-bottom: 10px;
  font-family: Arial, sans-serif;
  font-size: 13px;
  color: #333;
  padding: 5px 15px;
  border: none;
  background: #fff;
  box-sizing: border-box;
  outline: none;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.correct {
  margin-top: 7px!important;
}
