*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#svg .ac-custom {
	/*padding: 0 3em;*/
	max-width: 900px;
	margin: 0 auto;
}

#svg .ac-custom h2 {
	font-size: 3em;
	font-weight: 300;
	padding: 0 0 0.5em;
	margin: 0 0 30px;
}

#svg .ac-custom ul,
#svg .ac-custom ol {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	max-width: 800px;
}

#svg .ac-custom li {
	margin: 0 auto;
	padding: 0;
	height: 53px;
	position: relative;
}

#svg .ac-custom label {
	display: inline-block;
	position: relative;
	font-size: 13px;
	padding: 0 0 0 33px;
	vertical-align: top;
	color: rgba(0,0,0,0.2);
	cursor: pointer;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
	margin-top: 14px;
}

.difficulty label {
	padding: 0px 0 0 50px!important;
}

#svg .ac-custom input[type="checkbox"],
#svg .ac-custom input[type="radio"],
#svg .ac-custom label::before {
	width: 20px;
	height: 20px;
	top: 63%;
	left: 0;
	margin-top: -12px;
	position: absolute;
	cursor: pointer;
}

#svg .ac-custom input[type="checkbox"],
#svg .ac-custom input[type="radio"] {
	opacity: 0;
	-webkit-appearance: none;
	display: inline-block;
	vertical-align: middle;
	z-index: 100;
}

#svg .ac-custom label::before {
	content: '';
	border: 2px solid #fff;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

#svg .ac-radio label::before {
	border-radius: 50%;
}

#svg .ac-custom input[type="checkbox"]:checked + label,
#svg .ac-custom input[type="radio"]:checked + label {
	color: #777;
}

#svg .ac-custom input[type="checkbox"]:checked + label::before,
#svg .ac-custom input[type="radio"]:checked + label::before {
	opacity: 0.8;
}

/* General SVG and path styles */

#svg .ac-custom svg {
	position: absolute;
	width: 10px;
	height: 10px;
	top: 50%;
	margin-top: -11px;
	left: 5px;
	pointer-events: none;
}

#svg .ac-custom svg path {
	stroke: #777;
	stroke-width: 13px;
	stroke-linecap: round;
	stroke-linejoin: round;
	fill: none;
}

/* Specific input, SVG and path styles */

/* Circle */
#svg .ac-circle input[type="checkbox"],
#svg .ac-circle input[type="radio"],
#svg .ac-circle label::before {
	width: 15px;
	height: 15px;
	margin-top: -8px;
	left: 18px;
	position: absolute;
}

#svg .ac-circle label::before {
	background-color: #fff;
	border: none;
}

#svg .ac-circle svg {
	width: 30px;
	height: 30px;
	margin-top: -19px;
	left: 10px;
}

#svg .ac-circle svg path {
	stroke-width: 5px;
}

/* Box Fill */
#svg .ac-boxfill svg path {
	stroke-width: 8px;
}

/* Swirl */
#svg .ac-swirl svg path {
	stroke-width: 8px;
}

/* List */
#svg .ac-list ol {
	list-style: decimal;
	list-style-position: inside;
}

#svg .ac-list ol li {
	font-size: 2em;
	padding: 1em 1em 0 2em;
	text-indent: -40px;
}

#svg .ac-list ol li label {
	font-size: 1em;
	text-indent: 0;
	padding-left: 30px;
}

#svg .ac-list label::before {
	display: none;
}

#svg .ac-list svg {
	width: 100%;
	height: 80px;
	left: 0;
	top: 1.2em;
	margin-top: 0px;
}

#svg .ac-list svg path {
	stroke-width: 4px;
}

#svg .difficulty li {
	float: left;
	padding-right: 30px;
}

/* Media Queries */
@media screen and (max-width: 50em) {
	#svg section {
		font-size: 80%;
	}
}