<!DOCTYPE html>
<html lang="en"></html>
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" href="../../../temporary_files/css/normalize.css"/>
  <link rel="stylesheet" href="../../../temporary_files/css/style.css"/>
  <link rel="stylesheet" href="../../../temporary_files/css/component.css"/>
  <link rel="stylesheet" href="../../../temporary_files/css/normalize.css"/>
  <link rel="stylesheet" href="../../../temporary_files/css/normalize.css"/>
  <link rel="stylesheet" href="../../../temporary_files/css/normalize.css"/>
  <title>Creating New Topics</title>
</head>
<body>
  <div class="app">
    <header class="headerCreatingNewTopicsPage">
      <div class="wrapper">
        <div class="headerCreatingNewTopicsPage__headerTitle">
          <p>Создание Новой Темы</p>
        </div>
      </div>
    </header>
    <section class="creatingNewTopicsPageSection">
      <div class="wrapper">
        <!-- Input Редактирования / Название Темы-->
        <div class="creatingNewTopicsPageSection__titleEdit">
          <form method="post" action="" class="creatingNewTopicsPageSection__titleEditForm">
            <input type="text" value="Все о Мише" placeholder="Название Темы" class="creatingNewTopicsPageSection__titleEditInput"/>
          </form>
        </div>
        <!-- Left Container New Topic Question Answer-->
        <div class="containerNewTopicQuestionAnswer col-10">
          <div class="containerNewTopicQuestionAnswer__question-answer-container toggle">
            <ol>
              <!-- ## ## ## ## ## ## ## ## ## ## ## ## <li> ## ## ## ## ## ## ## ## ## ## ## ## ## ##-->
              <li data-id="1">
                <div class="containerNewTopicQuestionAnswer__title"><span class="containerNewTopicQuestionAnswer__number">1</span>
                  <article class="containerNewTopicQuestionAnswer__textpart">
                    <form action="" class="containerNewTopicQuestionAnswer__textpartForm">
                      <input type="text" value="Сколько лет Мише?" placeholder="Введите вопрос"/>
                    </form>
                  </article>
                  <div class="containerNewTopicQuestionAnswer__toggleEditButton">
                    <p>Edit</p>
                    <div class="containerNewTopicQuestionAnswer__dropPlus drop">+</div>
                  </div>
                </div>
                <article class="containerNewTopicQuestionAnswer__toggleEditPart cf">
                  <div class="containerNewTopicQuestionAnswer__checkBox-container col-2">
                    <div class="containerNewTopicQuestionAnswer__svg">
                      <div id="svg">
                        <section>
                          <form autocomplete="off" class="ac-custom ac-checkbox ac-checkmark">
                            <ul>
                              <li>
                                <input name="cb0" type="checkbox" id="cb0"/>
                                <laber for="cb0">Правильный</laber>
                                <!-- При нажатии на кнопку class="containerNewTopicQuestionAnswer__addAnswer" создаются два класса-->
                                <!-- 1. class="checkBox-container__addNewCheckbox" в котором меняются цифры input id="" name="" и label for=""-->
                                <!-- 2. class="containerNewTopicQuestionAnswer__addNewInput"-->
                              </li>
                              <div class="checkBox-container__addNewCheckbox">
                                <li>
                                  <input name="cb1" type="checkbox" id="cb1"/>
                                  <laber for="cb1">Правильный</laber>
                                </li>
                              </div>
                            </ul>
                          </form>
                        </section>
                      </div>
                    </div>
                  </div>
                  <div class="containerNewTopicQuestionAnswer__input-container col-10 cf">
                    <div class="containerNewTopicQuestionAnswer__input-containerForm">
                      <div class="containerNewTopicQuestionAnswer__addNewInput col-12 cf">
                        <input type="text" value="18" class="inputMain"/>
                      </div>
                      <div class="containerNewTopicQuestionAnswer__addNewInput col-12 cf">
                        <input type="text" value="29" class="inputMain"/>
                      </div>
                      <div class="col-12 cf">
                        <input type="button" value="Добавить ответ" class="containerNewTopicQuestionAnswer__addAnswer"/>
                      </div>
                      <div class="col-12 cf">
                        <div class="col-10 cf">
                          <div id="svg">
                            <section>
                              <form autocomplete="off" class="ac-custom ac-radio ac-circle difficulty">
                                <ul>
                                  <li>
                                    <input name="r4" type="radio" id="r11"/>
                                    <laber for="r11">Сложность 1</laber>
                                  </li>
                                  <li>
                                    <input name="r5" type="radio" id="r12"/>
                                    <laber for="r12">Сложность 2</laber>
                                  </li>
                                  <li>
                                    <input name="r6" type="radio" id="r13"/>
                                    <laber for="r13">Сложность 3</laber>
                                  </li>
                                </ul>
                              </form>
                            </section>
                          </div>
                        </div>
                        <div class="col-1 cf">
                          <div class="filterOptions"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </article>
              </li>
            </ol>
          </div>
        </div>
        <!-- Sidebar Analytics-->
        <div class="sidebarAnalytics col-2 cf">
          <div class="sidebarAnalytics__title">
            <p>Topic Info</p>
          </div>
          <ul>
            <li>
              <p>Сложность 1<span>5</span></p>
            </li>
            <li>
              <p>Сложность 2<span>3</span></p>
            </li>
            <li>
              <p>Сложность 3<span>7</span></p>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </div>
  <!-- Application-->
  <script src="../../../temporary_files/scripts/app.js"></script>
  <!-- Dependencies-->
  <script src="../../../temporary_files/scripts/main.js"></script>
  <!-- Style-->
  <script src="../../../temporary_files/scripts/modernizr.custom.js"></script>
  <script src="../../../temporary_files/scripts/svgcheckbx.js"></script>
</body>