<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  link(rel="stylesheet" href="../temporary_files/css/normalize.css")
  link(rel="stylesheet" href="../temporary_files/css/style.css")
  link(rel="stylesheet" href="../temporary_files/css/component.css")
  title Creating New Topics
body
  .app
    header.headerCreatingNewTopicsPage
      .wrapper
        .headerCreatingNewTopicsPage__headerTitle
          p Создание Новой Темы

    section.creatingNewTopicsPageSection
      .wrapper
        // Input Редактирования / Название Темы
        .creatingNewTopicsPageSection__titleEdit
          form(method="post" action="").creatingNewTopicsPageSection__titleEditForm
            input(type="text" value= name placeholder="Название Темы").creatingNewTopicsPageSection__titleEditInput
        // Left Container New Topic Question Answer
        .containerNewTopicQuestionAnswer.col-10
          .containerNewTopicQuestionAnswer__question-answer-container.toggle
            ol
              // ## ## ## ## ## ## ## ## ## ## ## ## <li> ## ## ## ## ## ## ## ## ## ## ## ## ## ##
              li(data-id="1")
                .containerNewTopicQuestionAnswer__title
                  span.containerNewTopicQuestionAnswer__number 1
                  article.containerNewTopicQuestionAnswer__textpart
                    form(action="").containerNewTopicQuestionAnswer__textpartForm
                      input(type="text" value= request placeholder="Введите вопрос")
                  .containerNewTopicQuestionAnswer__toggleEditButton
                    p Edit
                    .containerNewTopicQuestionAnswer__dropPlus.drop +
                article.containerNewTopicQuestionAnswer__toggleEditPart.cf
                  .containerNewTopicQuestionAnswer__checkBox-container.col-2
                    .containerNewTopicQuestionAnswer__svg
                      #svg
                        section
                          form(autocomplete="off").ac-custom.ac-checkbox.ac-checkmark
                            ul
                              li
                                input(name="cb0" type="checkbox")#cb0
                                laber(for="cb0") Правильный
                                // При нажатии на кнопку class="containerNewTopicQuestionAnswer__addAnswer" создаются два класса
                                // 1. class="checkBox-container__addNewCheckbox" в котором меняются цифры input id="" name="" и label for=""
                                // 2. class="containerNewTopicQuestionAnswer__addNewInput"
                              .checkBox-container__addNewCheckbox
                                li
                                  input(name="cb1" type="checkbox")#cb1
                                  laber(for="cb1") Правильный

                  .containerNewTopicQuestionAnswer__input-container.col-10.cf
                    .containerNewTopicQuestionAnswer__input-containerForm
                      .containerNewTopicQuestionAnswer__addNewInput.col-12.cf
                        input(type="text" value="18").inputMain
                      .containerNewTopicQuestionAnswer__addNewInput.col-12.cf
                        input(type="text" value="29").inputMain
                      .col-12.cf
                        input(type="button" value="Добавить ответ").containerNewTopicQuestionAnswer__addAnswer
                      .col-12.cf
                        .col-10.cf
                          #svg
                            section
                              form(autocomplete="off").ac-custom.ac-radio.ac-circle.difficulty
                                ul
                                  li
                                    input(name="r4" type="radio")#r11
                                    laber(for="r11") Сложность 1
                                  li
                                    input(name="r5" type="radio")#r12
                                    laber(for="r12") Сложность 2
                                  li
                                    input(name="r6" type="radio")#r13
                                    laber(for="r13") Сложность 3

                        .col-1.cf
                          .filterOptions

        // Sidebar Analytics
        .sidebarAnalytics.col-2.cf
          .sidebarAnalytics__title
            p Topic Info
          ul
            li
              p Сложность 1
                span 5
            li
              p Сложность 2
                span 3
            li
              p Сложность 3
                span 7





  // Application
  script(src='../../../temporary_files/scripts/app.js')
  // Dependencies
  script(src='../../../temporary_files/scripts/main.js')
  // Style
  script(src='../../../temporary_files/scripts/modernizr.custom.js')
  script(src='../../../temporary_files/scripts/svgcheckbx.js')