link(rel="stylesheet", href="../source/components/index/index.css")
// Header
header
    .wrapper.cf
        .left-wrap.left
            .social
                .col-4
                    a(href="#") Log In
                .col-4
                    a(href="#") Google
                .col-4
                    a(href="#") Facebook

        .right-wrap.right
            .logo
                h1
                    a(href="index.html") aTEST
            .slog
                p by Positron Bohemia


// Promo
section#promo
    .wrapper.cf
        // Registration
        .registration.right
            .registration__inner
                .registration__title
                    p Sign Up And Start Testing In Seconds
                .registration__form
                    form(method="post" action="")
                        label.registration__label
                            p Email
                        input(type="text" name="email")
                        label.registration__label
                            p Password
                        input(type="text" name="password")
                        label.registration__label
                            p Username
                        input(type="text" name="username")
                        .registration__signUp
                            input(type="submit" value="Sign Up")

                .registration__description
                    p By signing up, you agree to our Terms of service


// Benefits
section#benefits
    .wrapper.cf
        .wrap
            article.border
                .blockPost
                    h2 Здравствуйте!
                    p Мы очень рады, что Вы решили попробовать aTest! Теперь Вы можете воспользоваться всеми преимуществами сервиса aTest.
                .blockPost
                    img(src="/Users/mihail.sitnic/Sites/KDM/aTest/source/components/index/img/helpCenter/automation.png")
                    h2 Автоматизация
                    p Lorem ipsum
                .blockPost
                    img(src="/Users/mihail.sitnic/Sites/KDM/aTest/source/components/index/img/helpCenter/key.png")
                    h2 Ваши личные настройки
                    p Lorem ipsum
                .blockPost
                    img(src="/Users/mihail.sitnic/Sites/KDM/aTest/source/components/index/img/helpCenter/themes-creating.png")
                    h2 Ваши личные настройки
                    p Lorem ipsum
                .blockPost
                    img(src="/Users/mihail.sitnic/Sites/KDM/aTest/source/components/index/img/helpCenter/complexity-issues.png")
                    h2 Сложность вопросов
                    p Lorem ipsum
                .blockPost
                    img(src="/Users/mihail.sitnic/Sites/KDM/aTest/source/components/index/img/helpCenter/automatic-sorting-issues.png")
                    h2 Cортировка вопросов
                    p Lorem ipsum
                .blockPost
                    img(src="/Users/mihail.sitnic/Sites/KDM/aTest/source/components/index/img/helpCenter/groups-split.png")
                    h2 Разделение Групп
                    p Lorem ipsum
                .blockPost
                    img(src="/Users/mihail.sitnic/Sites/KDM/aTest/source/components/index/img/helpCenter/troubleshooting.png")
                    h2 Поиск ошибок
                    p Lorem ipsum
                .blockPost
                    img(src="/Users/mihail.sitnic/Sites/KDM/aTest/source/components/index/img/helpCenter/analytics.png")
                    h2 Аналитика
                    p Lorem ipsum
                .blockPost
                    img(src="/Users/mihail.sitnic/Sites/KDM/aTest/source/components/index/img/helpCenter/inspection.png")
                    h2 Проверка
                    p Lorem ipsum
                .blockPost
                    p Если у Вас есть вопросы, изучите
                        a(href="#")  cправочный центр
                        или обратитесь в
                        a(href="http://positronbohemia.com/" target="_blank") Positron Bohemia

// Footer
footer
    .wrapper.cf
      .copyright
        a(href="http://positronbohemia.com/" target="_blunk") © 2016 Positron Bohemia
