link(rel="stylesheet", href="../source/components/sidebar/sidebar.css")

.sidebar__title
        p Topic Info
    ul
        li
            p Сложность 1
                span 5
        li
            p Сложность 2
                span 3
        li
            p Сложность 3
                span 7